{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}
<article>
  <header>
    <h1 class="text-primary">{{ .Title }}</h1>
    <a href="http://b.hatena.ne.jp/entry/{{ .Permalink }}">
      <img src="http://b.hatena.ne.jp/entry/image/{{ .Permalink }}/" alt="はてなブックマーク - {{ .Title }}" title="はてなブックマーク - {{ .Title }}">
    </a>
    <div class="post-meta clearfix">
      <div class="post-date pull-left">
        Posted on
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
          {{ .Date.Format "Jan 2, 2006" }}
        </time>
      </div>
      <div class="pull-right">
        {{ range .Params.tags }}
        <span class="post-tag small"><a href="{{ $baseurl }}/tags/{{ . | urlize }}.html">#{{ . }}</a></span>
        {{ end }}
      </div>
    </div>
  </header>
  <section>
    {{ .Content }}
  </section>
  <hr>
  <section class="post-custom-share-buttons">
    <a href="http://b.hatena.ne.jp/entry/{{ .Permalink }}" class="hatena-bookmark-button" data-hatena-bookmark-title="{{ .Title }}" data-hatena-bookmark-layout="vertical-balloon" data-hatena-bookmark-lang="en" title="Bookmark this entry"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="Bookmark this entry" width="20" height="20" style="border: none;"></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>

    <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ .Permalink }}" data-text="{{ .Title }}" data-count="vertical">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <div class="fb-like" data-href="{{ .Permalink }}" data-layout="box_count" data-action="like" data-show-faces="false" data-share="false"></div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.3&appId=524721300901204";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <a data-pocket-label="pocket" data-pocket-count="vertical" data-save-url="{{ .Permalink }}" class="pocket-btn" data-lang="ja"></a>
    <script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
  </section>
  {{ template "_internal/disqus.html" . }}
  <footer>
    {{ with .Site.Params.disqus }}
    <hr/>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = '{{ . }}';
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {{ end }}
    <section class="author-info row">
      <div class="author-avatar col-md-2">
        {{ with .Site.Params.avatar }}
        <img alt="Author Avatar" src="{{ . }}" />
        {{ end }}
      </div>
      <div class="author-meta col-md-6">
        {{ with .Site.Params.author }}
        <h1 class="author-name text-primary">{{ . }}</h1>
        {{ end }}
        {{ with .Site.Params.bio }}
        <div class="author-bio">{{ . }}</div>
        {{ end }}
      </div>
      {{ with .Site.Params.contact }}
      <div class="author-contact col-md-4">
        <a href="{{ . }}">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          &nbsp;Contact me
        </a>
      </div>
      {{ end }}
    </section>
    <ul class="pager">
      {{ if .Next }}
      <li class="previous"><a href="{{ .Next.Permalink }}"><span aria-hidden="true">&larr;</span> Older</a></li>
      {{ else }}
      <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
      {{ end }}
      {{ if .Prev }}
      <li class="next"><a href="{{ .Prev.Permalink }}">Newer <span aria-hidden="true">&rarr;</span></a></li>
      {{ else }}
      <li class="next disabled"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
      {{ end }}
    </ul>
  </footer>
</article>

{{ partial "footer.html" . }}
